{% load static %}
<html>

<head>
	<title>La Motto</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body class="landing is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<a href="{% url 'home' %}"><img src="{% static 'images/logo-lamotto.png' %}" alt="Logo la motto"
					style="width:150px;height:60px;" /></a>
		</header>

		<!-- Banner -->
		<section id="banner">
			<img src="{% static 'images/logo-lamotto.png' %}" alt="Logo la motto" style="width:650px;height:280px;" />
		</section>

		<!-- Main -->
		<section id="main" class="container">

			<section class="box special">
				<header class="major">
					<form method="post">
						{% csrf_token %}
						<h3>Información de contacto</h3>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="inputAddress">Nombre:</label>
								<input name="name" type="text" class="form-control" placeholder="Nombre" required>
							</div>
							<div class="form-group col-md-6">
								<label for="inputAddress">Apellidos:</label>
								<input name="last_name" type="text" class="form-control" placeholder="Apellidos"
									required>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-3">
								<label for="inputEmail4">Email:</label>
								<input name="email" type="email" class="form-control" placeholder="Email" required>
							</div>
							<div class="form-group col-md-3">
								<label for="inputAddress">Numero Telefonico:</label>
								<input name="phone_number" type="number" max='99999999999' min='999999'
									class="form-control" placeholder="300 000 1111" required>
							</div>
							<div class="form-group col-md-3">
								<label>Numero de cedula del propietario:</label>
								<input name="cedula" type="number" max='999999999999' min='999999' class="form-control"
									placeholder="112276515" required>
							</div>
							<div class="form-group col-md-2">
								<label>Placa:</label>
								<input name="placa" type="text" max='7' min='5' class="form-control"
									placeholder="AAA-12B" required>
							</div>
						</div>
						<div class="form-group">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="egaCheck" required>
								<label class="form-check-label" for="egaCheck">Eres mayor de 18 años</label>
							</div>
						</div>
						<div class="form-group">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="gridCheck" required>
								<label class="form-check-label" for="gridCheck">
									<a href="{% url 'termino' %}" target="_blank">Acepto la política de tratamiento de
										datos, términos y condiciones</a>
								</label>
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Enviar</button>
					</form>
				</header>
			</section>
		</section>
		<!-- Banner -->

		<div class="moto-widget moto-widget-block moto-background-fixed moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
			data-widget="block" data-spacing="lala"
			style="background-image:url({% static 'images/mt-1517-home-parallax2.jpg' %});background-position:top;background-repeat:no-repeat;background-size:cover;"
			data-bg-image="2018/07/mt-1517-home-parallax2.jpg" data-bg-position="top"><a class="moto-anchor"
				name="benefits"></a>


			<div class="container-fluid">
				<div class="row">
					<div class="moto-cell col-sm-12" data-container="container">


						<div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
							data-grid-type="sm" data-widget="row" data-bg-position="left top">


							<div class="container-fluid">
								<div class="row" data-container="container">


									<div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
										data-widget="row.column" data-container="container" data-spacing="aaaa"
										data-bg-position="left top">



										<div data-widget-id="wid_1530782555_vsdh7l94d"
											class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  "
											data-widget="image">
											<span class="moto-widget-image-link">
												<img data-src="/mt-demo/67900/67970/mt-content/uploads/2018/07/mt-1517-home-logo-content2.png"
													class="moto-widget-image-picture lazyloaded" data-id="151" title=""
													alt=""
													src="/mt-demo/67900/67970/mt-content/uploads/2018/07/mt-1517-home-logo-content2.png">
											</span>
										</div>



										<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
											data-widget="text" data-preset="default" data-spacing="saaa"
											data-visible-on="-" data-animation="">
											<div class="moto-widget-text-content moto-widget-text-editable">
												<p style="text-align: center;" class="moto-text_system_8">OUR BENEFITS
												</p>
												<h2 style="text-align: center;" class="moto-text_system_6"><span
														class="moto-color5_5">WHAT WE OFFER</span></h2>
											</div>
										</div>
										<div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
											data-grid-type="sm" data-widget="row" data-bg-position="left top">


											<div class="container-fluid">
												<div class="row" data-container="container">


													<div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
														data-widget="row.column" data-container="container"
														data-spacing="maaa" data-bg-position="left top">


														<div class="moto-widget moto-widget-container moto-container_content_5b3de38d19"
															data-widget="container" data-container="container"
															data-css-name="moto-container_content_5b3de38d19"
															data-bg-position="left top">
															<div data-widget-id="wid_1530782647_uweb5pkoc"
																class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto "
																data-widget="spacer" data-preset="default"
																data-spacing="sasa"
																data-visible-on="+desktop,tablet,mobile-h,mobile-v">
																<div class="moto-widget-spacer-block"
																	style="height:15px">
																</div>
															</div>
															<div data-widget-id="wid_1530782633_475fe00it"
																class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  "
																data-widget="image">
																<span class="moto-widget-image-link">
																	<img data-src="/mt-demo/67900/67970/mt-content/uploads/2018/07/mt-1517-home-icon1.png"
																		class="moto-widget-image-picture lazyloaded"
																		data-id="145" title="" alt=""
																		src="/mt-demo/67900/67970/mt-content/uploads/2018/07/mt-1517-home-icon1.png">
																</span>
															</div>
															<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
																data-widget="text" data-preset="default"
																data-spacing="saaa" data-visible-on="-"
																data-animation="">
																<div
																	class="moto-widget-text-content moto-widget-text-editable">

																	<h3 style="text-align: center;"
																		class="moto-text_system_8">
																		<span class="moto-color5_5">MEDIOS DE PAGO</span></h3>
																		<br>
																	<h3 style="text-align: center;"
																		class="moto-text_normal">
																		<span class="moto-color5_5">Por tu seguridad y
																			la de nuestros motto
																			partners <b style="color:#fff">NO ACEPTAMOS
																				PAGO EN
																				EFECTIVO.</b>
																			Realiza tus pagos en línea o transferencias,
																			usando equipos seguros, tu computador o
																			dispositivo móvil personal</span>
																	</h3>
																</div>
															</div>
															<div data-widget-id="wid_1530782698_jb766xwa6"
																class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto "
																data-widget="spacer" data-preset="default"
																data-spacing="sasa"
																data-visible-on="+desktop,tablet,mobile-h,mobile-v">
																<div class="moto-widget-spacer-block"
																	style="height:15px">
																</div>
															</div>
														</div>
													</div>



													<div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
														data-widget="row.column" data-container="container"
														data-bg-position="left top">



														<div class="moto-widget moto-widget-container moto-container_content_5b3de3f520"
															data-widget="container" data-container="container"
															data-css-name="moto-container_content_5b3de3f520"
															data-bg-position="left top">




															<div data-widget-id="wid_1530782709_pioyi6jd6"
																class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto "
																data-widget="spacer" data-preset="default"
																data-spacing="sasa"
																data-visible-on="+desktop,tablet,mobile-h,mobile-v">
																<div class="moto-widget-spacer-block"
																	style="height:15px">
																</div>
															</div>



															<div data-widget-id="wid_1530782709_h17r7aqi8"
																class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  "
																data-widget="image">
																<span class="moto-widget-image-link">
																	<img data-src="/mt-demo/67900/67970/mt-content/uploads/2018/07/mt-1517-home-icon2.png"
																		class="moto-widget-image-picture lazyloaded"
																		data-id="147" title="" alt=""
																		src="/mt-demo/67900/67970/mt-content/uploads/2018/07/mt-1517-home-icon2.png">
																</span>
															</div>



															<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
																data-widget="text" data-preset="default"
																data-spacing="saaa" data-visible-on="-"
																data-animation="">
																<div
																	class="moto-widget-text-content moto-widget-text-editable">
																	<h3 style="text-align: center;"
																		class="moto-text_system_8"><span class="moto-color5_5">NUESTROS USUARIOS</span></h3>
																		<br>
																	<h3 style="text-align: center;"
																		class="moto-text_normal">
																		<span class="moto-color5_5">
																			<p>Moteros y Moteras que buscan la comodidad
																				de un taller donde y cuando lo
																				necesitan, la
																				seguridad de un servicio garantizado y
																				el control de encontrar lo que requiere
																				su moto en
																				un solo lugar</p>
																		</span></h3>
																</div>
															</div>

															<div data-widget-id="wid_1530782709_up7rq8wdu"
																class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto "
																data-widget="spacer" data-preset="default"
																data-spacing="sasa"
																data-visible-on="+desktop,tablet,mobile-h,mobile-v">
																<div class="moto-widget-spacer-block"
																	style="height:15px">
																</div>
															</div>

														</div>

													</div>
													<div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
														data-widget="row.column" data-container="container"
														data-spacing="maaa" data-bg-position="left top">

														<div class="moto-widget moto-widget-container moto-container_content_5b3de3f721"
															data-widget="container" data-container="container"
															data-css-name="moto-container_content_5b3de3f721"
															data-bg-position="left top">


															<div data-widget-id="wid_1530782711_iwu9bf0lh"
																class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto "
																data-widget="spacer" data-preset="default"
																data-spacing="sasa"
																data-visible-on="+desktop,tablet,mobile-h,mobile-v">
																<div class="moto-widget-spacer-block"
																	style="height:15px">
																</div>
															</div>

															<div data-widget-id="wid_1530782711_t164j3kbu"
																class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  "
																data-widget="image">
																<span class="moto-widget-image-link">
																	<img data-src="/mt-demo/67900/67970/mt-content/uploads/2018/07/mt-1517-home-icon3.png"
																		class="moto-widget-image-picture lazyloaded"
																		data-id="148" title="" alt=""
																		src="/mt-demo/67900/67970/mt-content/uploads/2018/07/mt-1517-home-icon3.png">
																</span>
															</div>

															<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
																data-widget="text" data-preset="default"
																data-spacing="saaa" data-visible-on="-"
																data-animation="">
																<div
																	class="moto-widget-text-content moto-widget-text-editable">
																	<h3 style="text-align: center;"
																		class="moto-text_system_8">
																		<span class="moto-color5_5">REPUTABLE
																			COMPANY</span>
																	</h3>
																	<h3 style="text-align: center;"
																		class="moto-text_normal">
																		<span class="moto-color5_5">Operating for more
																			than 30
																			years, earning a reputation for service and
																			beautiful work.</span></h3>
																</div>
															</div>
															<div data-widget-id="wid_1530782711_q13ghl7yk"
																class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto "
																data-widget="spacer" data-preset="default"
																data-spacing="sasa"
																data-visible-on="+desktop,tablet,mobile-h,mobile-v">
																<div class="moto-widget-spacer-block"
																	style="height:15px">
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section id="pay_method">
			<div class="parrafo">
				<font size="+4"><b>MEDIOS DE PAGO </b></font>
				<br><br>
				<font size="+3">Por tu seguridad y la de nuestros motto partners <b>NO ACEPTAMOS PAGO EN EFECTIVO.</b>
					Realiza tus pagos en línea o transferencias, usando equipos seguros, tu computador o dispositivo
					móvil personal
				</font>
			</div>
		</section>
		<!-- CTA -->
		<section id="cta" class="footer_register">
			<img src="{% static 'images/mt-1517-home-logo-content1.png' %}" alt="" />
			<h2><b>Entendimos que tu moto, la puedes
					cuidar desde tu celular y te damos
					todas las opciones</b>
			</h2>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
			</ul>
		</footer>
	</div>
	<!-- Modal Form user -->
	<!-- Modal -->
	<div id="form_modal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>

				</div>
				<div class="modal-body">
					<form method="post">
						{% csrf_token %}
						<div class="form-row">
							<h3>Información de contacto</h3>
							<div class="form-group col-md-6">
								<label for="inputAddress">Nombre</label>
								<input name="name" type="text" class="form-control" placeholder="Nombre" required>
							</div>
							<div class="form-group col-md-6">
								<label for="inputAddress">Apellidos</label>
								<input name="last_name" type="text" class="form-control" placeholder="Apellidos"
									required>
							</div>
							<div class="form-group col-md-6">
								<label for="inputEmail4">Email</label>
								<input name="email" type="email" class="form-control" placeholder="Email" required>
							</div>
							<div class="form-group col-md-6">
								<label for="inputAddress">Numero Telefonico</label>
								<input name="phone_number" type="number" max='99999999999' min='999999'
									class="form-control" placeholder="300 000 1111" required>
							</div>

						</div>
						<h5>Permítenos conocer tu moto para personalizar tus servicios</h5>
						<div class="form-group">
							<label>Marca</label>
							<select name="marca" class="form-control">
								{% for manufacture in manufactures %}
								<option value="{{manufacture.id}}">{{ manufacture.name }} </option>
								{% endfor %}
							</select>
						</div>

						<div class="form-group">
							<label>Numero de cedula del propietario:</label>
							<input name="cedula" type="number" max='999999999999' min='999999' class="form-control"
								placeholder="112276515" required>
						</div>
						<div class="form-group">
							<label>Placa:</label>
							<input name="placa" type="text" max='7' min='5' class="form-control" placeholder="AAA-12B"
								required>
						</div>

						<div class="form-group">
							<label>Modelo</label>
							<input name="model" type="number" class="form-control" id="model_input" />
						</div>

						<div class="form-group">
							<label>Cilindraje:</label>
							<select name="cylinder" class="form-control">
								{% for cylinder in cylinders %}
								<option value="{{cylinder.id}}">{{ cylinder.name }} </option>
								{% endfor %}
							</select>
						</div>

						<div class="form-group">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="gridCheck" required>
								<label class="form-check-label" for="gridCheck">
									<a href="{% url 'termino' %}" target="_blank">Acepto la política de tratamiento de
										datos, términos y condiciones</a>
								</label>
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Enviar</button>
					</form>
				</div>
			</div>

		</div>
	</div>
	{% if status %}
	<script>
		Swal.fire('Hemos recibido tu datos!',
			'Pronto nos pondremos en contacto!',
			'success')
	</script>
	{% endif %}



	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>
	<script src="{% static 'assets/js/controller.js' %}"></script>
	<!-- Scripts -->

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/styles_motto.css' %}" />
</body>

</html>